<!DOCTYPE html>
<html>
<head>
<title>资金账户表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<style type="text/css">
.cw_info { height:124px; background-color:#fff; border-top:1px solid #EEEEEE; border-bottom:1px solid #EEEEEE; padding-top:1px; padding-bottom:1px; margin-bottom:20px;}
.cw_infon {height:124px; background:#F7F7F7; }
.cw_infon_pic { float:left; width:170px; height:124px; background:url(../img/index/cwp.jpg) no-repeat center;}
.cw_infon_2 { height:124px; }
.cw_infon_2_name {height:40px; line-height:40px; font-size:18px; padding-left:30px;  }
.cw_infon_2_kyzj {height:40px; line-height:40px; font-size:20px; padding-left:30px;}
.cw_infon_2_red {height:32px; line-height:32px; margin-top:4px; padding:0px 20px 0px 20px; background-color:#E04F5F; color:#fff;}
a.cw_zhuanchu {float:left; display:block; height:32px; margin-top:4px; line-height:32px; padding:0px 15px 0px 40px; margin-left:20px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/zhuanchu.jpg) no-repeat center left; background-color:#17B198; color:#fff; font-size:16px;}
a.cw_zhuanchu:hover {float:left; display:block; height:32px; margin-top:4px; line-height:32px; padding:0px 15px 0px 40px; margin-left:20px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/zhuanchu2.jpg) no-repeat center left; background-color:#128977; color:#fff; font-size:16px;}
a.cw_zhuanru {float:left; display:block; height:32px; margin-top:4px; line-height:32px; padding:0px 15px 0px 40px; margin-left:20px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/zhuanru.jpg) no-repeat center left; background-color:#17B198; color:#fff; font-size:16px;}
a.cw_zhuanru:hover {float:left; display:block; height:32px; margin-top:4px; line-height:32px; padding:0px 15px 0px 40px; margin-left:20px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/zhuanru2.jpg) no-repeat center left; background-color:#128977; color:#fff; font-size:16px;}
a.cw_kaihu {float:left; display:block; height:32px; margin-top:4px; line-height:32px; padding:0px 15px 0px 40px; margin-left:20px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/kaihu.jpg) no-repeat center left; background-color:#17B198; color:#fff; font-size:16px;}
a.cw_kaihu:hover {float:left; display:block; height:32px; margin-top:4px; line-height:32px; padding:0px 15px 0px 40px; margin-left:20px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/kaihu2.jpg) no-repeat center left; background-color:#128977; color:#fff; font-size:16px;}
.cw_infon_2_xq {height:40px; line-height:40px; font-size:14px; padding-left:30px; color:#414151;}
.cw_txt_red {color:#DF4E5F;}
.ml40 {margin-left:40px;}
.cw_menu {height:50px; border-bottom:2px solid #D3EBC9; line-height:40px;}
a.cw_menu_in {float:left; height:50px; padding-left:30px; padding-right:30px; background:url(../img/index/cw_menubg.jpg) no-repeat center bottom; font-size:18px; color:#44782D; display:block;}
a.cw_menu_out {float:left; height:50px; padding-left:30px; padding-right:30px; font-size:18px; color:#878787; display:block;}
a.cw_menu_out:hover {float:left; height:50px; padding-left:30px; padding-right:30px; font-size:18px; color:#000; display:block;}
.cw_shaixuan {float:right; display:block; padding-left:40px; padding-right:20px; height:30px; line-height:30px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/shaixuana.jpg) no-repeat center left; background-color:#8EC954; color:#fff; font-size:12px; margin-top:5px;display:inline-block;cursor:pointer;}
.cw_shaixuan:hover {float:right; display:block; padding-left:40px; padding-right:20px; height:30px; line-height:30px; -moz-border-radius:10px; border-radius:10px; background:url(../img/index/shaixuanb.jpg) no-repeat center left; background-color:#578529; color:#fff; font-size:12px; margin-top:5px;}
.cw_sx {height:36px; background-color:#D3EBC9;display:none;}
.cw_sx_01 {float:right; height:24px; line-height:24px; border:1px solid #A0D38B; margin-left:5px; margin-right:5px; margin-top:6px; width:150px;}
.cw_sx_02 {float:right; height:24px; line-height:24px; margin-left:5px; margin-right:0px; margin-top:6px;}
a.cw_sx_qd {float:right; -moz-border-radius:10px; border-radius:10px; width:60px; height:24px; line-height:24px; margin:6px 10px 0px 10px; color:#FFFFFF; font-size:12px; background-color:#17B198; text-align:center; }
a.cw_sx_qd:hover {float:right; -moz-border-radius:10px; border-radius:10px; width:60px; height:24px; line-height:24px; margin:6px 10px 0px 10px; color:#FFFFFF; font-size:12px; background-color:#128977; text-align:center; }
.cw_nr {width:100%; border-collapse:collapse; border:1px solid #EEEEEE;}
.cw_nr th {height:40px; line-height:40px; text-align:center; font-size:14px; font-weight:bold; background:url(../img/index/cw_thbg.jpg) repeat-x; border:1px solid #EEEEEE;}
.cw_nr td {height:40px; line-height:40px; text-align:center; font-size:14px; border:1px solid #EEEEEE;}
.cw_txtorg {color:#B85213;}
.cw_txtgreen {color:#17B097;}
.cw_nr button {border-collapse:collapse;border:1px solid #EEEEEE;background-color:#17B097; color:#fff;height:32px;padding:3px 10px;cursor:pointer;}
.cw_nr td a{margin:0 5px;}
.cw_nr td a:hover{text-decoration:underline;}
.f_left {float:left;}
</style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div class="cw_info">
		<div class="cw_infon" id="glance">
			<div class="cw_infon_pic"></div>
			<div class="cw_infon_2">
				<div class="cw_infon_2_name">粮网监控</div>
				<div class="cw_infon_2_kyzj">
					<span class="f_left">可用资金：</span>
					<span class="cw_infon_2_red f_left" name="remainMoney">0.00&nbsp;元</span>
					<a href="javascript:openAccount()" class="cw_kaihu">开户</a>
					
					<a href="javascript:outMoneyBtn()" class="cw_zhuanchu">出金</a>
					
					<a href="javascript:inMoney('');" class="cw_zhuanru">入金</a>
				</div>
				<div class="cw_infon_2_xq">	
					<span>冻结货款：</span>
					<span class="cw_txt_red" name="freezePayment">0.00&nbsp;元</span>
					<span class="ml40">冻结保证金：</span>
					<span class="cw_txt_red" name="freezeMargin">0.00&nbsp;元</span>
					<span class="ml40">临时冻结资金：</span>
					<span class="cw_txt_red" name="tempFreezeMargin">0.00&nbsp;元</span>
				</div>
			</div>
		</div>
	</div>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('account:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('account:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('account:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">区域经销商id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="account.enterpriseId" placeholder="区域经销商id"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">总金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="account.price" placeholder="总金额"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/yh/account.js"></script>
</body>
</html>