<!DOCTYPE html>
<html>
<head>
<title>企业信息表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('enterpriseinfo:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('enterpriseinfo:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('enterpriseinfo:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="form">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">企业名称</div>
			   	<div class="col-sm-10">
			   	<input type="hidden" name="enterpriseId" v-model="enterpriseinfo.enterpriseId"/>
			      <input type="text" class="form-control" name="enterpriseName" v-model="enterpriseinfo.enterpriseName" placeholder="企业名称"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">商家类型</div>
			   	<div class="col-sm-10">
			   	  <select  class="form-control" name="enterpriseType"  v-model="enterpriseinfo.enterpriseType" >
			   	  	  <option value="1" selected="selected">生产厂家</option>
			   	  	  <option value="2">批发厂家</option>
			   	  </select>
			      <!-- <input type="text" class="form-control" v-model="enterpriseinfo.enterpriseType" placeholder="类型（1：生产厂家，2：经销商）"/> -->
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">企业图片</div>
			   	<div class="col-sm-10">
			      <!-- <input type="text" class="form-control" v-model="enterpriseinfo.enterpriseImageUrl" placeholder="企业图片"/> -->
			      <input type="file" name="picFile" id="picFile">
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">联系人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="enterpriseContact" v-model="enterpriseinfo.enterpriseContact" placeholder="联系人"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">手机</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name = "enterprisePhone" v-model="enterpriseinfo.enterprisePhone" placeholder="手机"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="enterpriseTel" v-model="enterpriseinfo.enterpriseTel" placeholder="电话"/>
			    </div>
			</div>
			
			<div class="form-group">
			   <div class="col-sm-2 control-label">省</div>
			   	<div class="col-sm-10">
			   	  <select id="province" v-model="province" class="form-control"></select>
			    </div>
			    	
			    <div class="col-sm-2 control-label">市</div>
			   	<div class="col-sm-10">
			   		<select id="city" class="form-control"></select>
			    </div>
			    
			    <div class="col-sm-2 control-label">区/县</div>
			   	<div class="col-sm-10">
			   		<select id="county" class="form-control"></select>
	          </div>
			</div>
			
			<input type="hidden" name="enterpriseAreaId" id="regionId">
			
			<input type="hidden" name="enterpriseAreaName" id="regionName">
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">详细地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="enterpriseAddress" name="enterpriseAddress" v-model="enterpriseinfo.enterpriseAddress" placeholder="企业地址"/>
			    </div>
			</div>
			
			<!-- <div class="form-group">
			   	<div class="col-sm-2 control-label">经度</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="enterpriseLongitude" v-model="enterpriseinfo.enterpriseLongitude" placeholder="经度"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">纬度</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name = "enterpriseLatitude" v-model="enterpriseinfo.enterpriseLatitude" placeholder="纬度"/>
			    </div>
			</div> -->
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">简介</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name = "enterpriseIntroduction" v-model="enterpriseinfo.enterpriseIntroduction" placeholder="简介"/>
			    </div>
			</div>		
		
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script src="../../js/modules/yh/enterpriseinfo.js"></script>

</body>
</html>