<!DOCTYPE html>
<html>
<head>
<title>订单表
<object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
       <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
</object>
</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../libs/LodopFuncs.js"></script>


<link rel="stylesheet" href="../../css/delivery.css">
 <style type="text/css">
        *{padding:0;margin: 0;}
        h1{font-size: 20px;}
        h3{font-size: 16px;}
        .left{
            float: left;
        }
        .right{
            float:right;
        }
        .clearfix{
            clear: both;
        }
        ul{list-style: none;}
        .print_container{
            padding: 20px;
            width: 188px;
        }
        .section1{
        }
        .section2 label{
            display: block;
        }
        .section3 label{
            display: block;
        }
        .section4{
        }
        .section4 .total label{
            display: block;
        }
        .section4 .other_fee{
            border-bottom: 1px solid #DADADA;
        }
        .section5 label{
            display: block;
        }
   </style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<!-- <div class="grid-btn">
			<a v-if="hasPermission('order:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('order:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('order:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div> -->
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <input type="hidden" id="orderId">
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">销售员id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.userId" placeholder="销售员id"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">订单生成时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.orderCreateTime" placeholder="订单生成时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">使用积分数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.userIntegralCount" placeholder="使用积分数"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">订单总价格</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.orderAllPrice" placeholder="订单总价格"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">订单状态(0待支付 1已支付 2代配送 3已完成)</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.orderType" placeholder="订单状态(0待支付 1已支付 2代配送 3已完成)"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">下单地址ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.townId" placeholder="下单地址ID"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">下单地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.orderAddress" placeholder="下单地址"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">要求配送时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.orderSendTime" placeholder="要求配送时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">详细地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.orderDetailAddress" placeholder="详细地址"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">买者电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.receiverPhone" placeholder="买者电话"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">买者姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.receiverName" placeholder="买者姓名"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.mark" placeholder="备注"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">订单支付方式（1：支付宝，2：微信）</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="order.orderPayType" placeholder="订单支付方式（1：支付宝，2：微信）"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	<div id="print_container" class="print_container" style="display: none;">
         <div class="section1" style="width: 188px;">
             <h3 style="text-align: center;">
				发货单
			</h3>
         </div>
		 <span>*************************</span>
		 <div class="section3" style="width: 188px;">
             <label>订单编号：<br><span id="orderId1" style="font-size:15px;"></span></label><br>
             <label>下单时间：<br><span id="createTime"></span></label>
         </div>
         <span>*************************</span>
         <div class="section2" style="width: 188px;">
             <label>发货人：<span id="deliveryFaName"></span></label><br>
             <label>配送人：<span id="deliveryName"></span></label><br>
             <label>经销商：<span id="agency"></span></label>
         </div>
         
        
         <span>*************************</span>
         <div class="section4" style="width: 188px;">
             <div style="border-bottom: 1px solid #DADADA;width: 188px;">
                 <table style="width: 188px;">
                     <thead>
                         <tr>
                             <td width="50%">产品</td>
                             <td width="20%">数量</td>
                             <td width="30%">价格</td>
                         </tr>
                     </thead>
                     <tbody id="tbody">                        
                     </tbody>
                 </table>
             </div>
             <div class="other_fee" style="width: 188px;">
                 <div class="canh">
		    		 <label style="width:130px" class="left"><b>总价</b></label>
                     <label class="right"><b><span id="productAllPrice"></span></b></label>
                     <div class="clearfix"></div>                        
                 </div>
                 <div class="peis">
                     <label  style="width:130px" class="left"><b>积分抵扣</b></label>
                     <label class="right"><b><span id="useIntegral"></span></b></label>
                     <div class="clearfix"></div>
                 </div>
             </div>
             <div class="total" style="width: 188px;">
                 <label  style="width:130px" class="left"><b>实收</b></label>
                 <label class="right"><b><span id="productActualPrice"></span></b></label>
                 <div class="clearfix"></div>
             </div>
            <!--<div style="text-align: right;">
                 <label>顾客已付款</label>
             </div>-->
             <span>*************************</span>
         </div>
         <div class="section5" style="width: 188px;">
             <label>姓名：<span id="receiverName"></span></label><br>
             <label>地址：<span style="word-wrap:break-word;" id="orderDetailAddress"></span></label><br>
             <label>电话：<span id="receiverPhone"></span></label>
         </div>    
         <span>*************************</span>
     </div>
</div>
	<input type="hidden" id= "userId">
	
 

<script src="../../js/modules/yh/order.js"></script>
</body>
</html>