<!DOCTYPE html>
<html>
<head>
<title>产品表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>


<link rel="stylesheet" href="../../plugins/searchableSelect/jquery.searchableSelect.css">
<script src="../../plugins/searchableSelect/jquery.searchableSelect.js"></script>

<link rel="stylesheet" href="../../plugins/autocomplete/jquery-ui.css">
<script src="../../plugins/autocomplete/jquery-ui.js"></script>

</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('product:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('product:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('product:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="form">
			<div class="form-group">
			 <div class="col-sm-2 control-label">企业名称</div>
			   	<div class="col-sm-10">
			       <!--   <select id="enterpriseId" name="enterpriseId" class="form-control"  v-model="product.enterpriseId" >
				    	<option v-bind:value="enterprise.id" v-for="enterprise in enterPrises">{{enterprise.name}}</option>
				    </select> -->
				    <input id="enterpriseName" name="enterpriseName" class="form-control"  v-model="product.enterpriseName" >
				  <!--   <input type="text" name="phName" value="" id="phName" class="rph" >
                    <input type="hidden" name="rpId" id="rpId" /> -->
				</div>
				<input type="hidden"  id="enterpriseId" name="enterpriseId" v-model="product.enterpriseId" >
				  <!--   <div class="col-sm-10">
				      <select id="enterpriseId">
				      </select>
				     </div> -->
			    
			  
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="productName" v-model="product.productName" placeholder="产品名称"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品分类</div>
			   	<div class="col-sm-10">
			      <!-- <input type="text" class="form-control" name="productType" v-model="product.productType" placeholder="产品类型：1.烟花 2.爆竹 3.套餐 4.小烟花"/> -->
			         <select id="productType" name="productType" class="form-control"  v-model="product.productType" >
				    	<option v-bind:value="type.id" v-for="type in types">{{type.type}}</option>
				    </select>
			    </div>
			</div>
			<input type=hidden name = productTypeName id = productTypeName v-model = "product.productTypeName">
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">图片地址</div>
			   	<div class="col-sm-10">
			     <!--  <input type="text" class="form-control" name="productPictureUrl" v-model="product.productPictureUrl" placeholder="图片地址"/> -->
			   		   <input type="file" name = "picFile" id="picFile">
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">简介</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="productDetail" v-model="product.productDetail" placeholder="简介"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">视频地址</div>
			   	<div class="col-sm-10">
			      <!-- <input type="text" class="form-control" name="productVideoUrl" v-model="product.productVideoUrl" placeholder="视频地址"/> -->
			   	   <input type="file" name = "videoFile" id="videoFile">
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">库存</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="productNum" v-model="product.productNum" placeholder="库存"/>
			    </div>
			</div>
		    <div class="form-group">
			   	<div class="col-sm-2 control-label">批发价</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="productTradePrice" v-model="product.productTradePrice" placeholder="批发价"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">零售价</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="productRetailPrice" v-model="product.productRetailPrice" placeholder="零售价"/>
			    </div>
			</div>
		
			<div class="form-group">
			   	<div class="col-sm-2 control-label">是否热销（1：热销，2：不热销）</div>
			   	<div class="col-sm-10">
			     <!--  <input type="text" class="form-control" name="isHot" v-model="product.isHot" placeholder="是否热销（1：热销，2：不热销）"/> -->
			   		<label class="radio-inline">
					  <input type="radio" name="status" value="1" v-model="product.isHot"/> 不热销
					</label>
					<label class="radio-inline">
					  <input type="radio" name="status" value="0" v-model="product.isHot"/> 热销
					</label>
			    </div>
			</div>
			
		<!-- 	<div class="form-group">
			   	<div class="col-sm-2 control-label">录入类型（1：管理员，2：区域代理）</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" name="enterType" v-model="product.enterType" placeholder="录入类型（1：管理员，2：区域代理）"/>
			    </div>
			</div> -->
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/yh/product.js"></script>

 <script>
	$(function(){
		/* $('select').searchableSelect(); */		
		
		  $(".enterpriseId").autocomplete({  
              minLength: 0,  
              source: function( request, response ) {  
                  $.ajax({  
                       url : baseURL + 'enterpriseinfo/getByName',  
                       type : "post",  
                       dataType : "json",  
                       data : {"enterpriseName":$("#enterpriseName").val()},                           
                       success: function( data ) {  
                            console.log(data);  
                            response( $.map( data, function( item ) {  
                                  return {  
                                    label: item.enterprise_id,  
                                    value: item.enterprise_name  
                                  }  
                            }));  
                      }  
                 });  
              },  
              focus: function( event, ui ) {  
                  $("#enterpriseName").val( ui.item.label );  
                  $("#enterpriseId").val( ui.item.value );  
                    return false;  
                  },  
              select: function( event, ui ) {  
                  $(".enterpriseName").val( ui.item.label );  
                  $("#enterpriseId").val( ui.item.value );  
                  return false;  
              }  
           });  
	});
</script>
</body>
</html>