<!DOCTYPE html>
<html>
<head>
<title>行政区划</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">省</div>
			   	<div class="col-sm-10">
			   	  <select id="province" class="form-control"></select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">市</div>
			   	<div class="col-sm-10">
			   		<select id="city" class="form-control"></select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">区/县</div>
			   	<div class="col-sm-10">
			   		<select id="county" class="form-control"></select>
			    </div>
			</div>
			
			<input type="hidden" id="regionId">
			
			<input type="hidden" id="regionName">
			

</body>
<script type="text/javascript">
	$(function(){
		
		selectDataBindByHql('province',baseURL+"region/getCitys/0");
		
		$('#province').change(function() {
			var selectProvinceId = $("#province").val();
			selectDataBindByHql('city', baseURL+"region/getCitys/"+selectProvinceId);
			if(selectProvinceId!=-1){
				$('#regionId').val(selectProvinceId);
				$('#regionName').val($("#province").find("option:selected").text());
			}
			
		});
		
		$('#city').change(function() {
			var selectCityId = $('#city').val();
			selectDataBindByHql('county',  baseURL+"region/getCitys/"+selectCityId);
			if(selectCityId==-1){
				$('#regionId').val($("#province").val());
				$('#regionName').val($("#province").find("option:selected").text());
			}else{
				$('#regionId').val(selectCityId);
				$('#regionName').val($("#province").find("option:selected").text()
						+$("#city").find("option:selected").text());
			}			
		});
		
		$('#county').change(function(){
			var countySelectId = $('#county').val();
			if(countySelectId==-1){
				$('#regionId').val($("#city").val());
				$('#regionName').val($("#province").find("option:selected").text()
						+$('#regionName').val($("#city").find("option:selected").text()));
			}else{
				$('#regionId').val(countySelectId);
				$('#regionName').val($("#province").find("option:selected").text()
						+$("#city").find("option:selected").text()
						+$("#county").find("option:selected").text());
			}
			
		});
		
	});
	
	
	function selectDataBindByHql(id,url){
		$.ajax({
			url : url,
			success : function(data) {
				var htmlArr1 = [];
				if($('#'+id).val()==''){
					htmlArr1.push('<option value="-1" selected="selected" >请选择</option>');
					if(data.citys.length){				
						
						$.each(data.citys,function(n,value){
	          	 			htmlArr1.push('<option value="'+value.id+'">'+value.name+'</option>');
	           			}); 
	       			}
				}else{				
					htmlArr1.push('<option value="-1">请选择</option>');
					if(data.citys.length){
						$.each(data.citys,function(n,value){
							if(value.id!=$('#'+id).val()){
	          	 				htmlArr1.push('<option value="'+value.id+'">'+value.name+'</option>');
	          	 			} else {
	          	 				htmlArr1.push('<option value="'+$('#'+id).val()+'" selected="selected">'+$('#'+id+' option:selected').html()+'</option>');
	          	 			}
	           			}); 
	           		}
				}

				$('#'+id).html(htmlArr1.join(''));
			},
			error:function(data){
				alert(data);
			}
		});
	}
</script>
</html>