<!DOCTYPE html>
<html>
<head>
<title>提现记录表（区域经销商）</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<link rel="stylesheet" href="../../css/withdraw.css">
</head>
<body>
<div id="rrapp" v-cloak>
	
	<!-- <div class="cw_infon" id="glance">
		<div class="cw_infon_pic"></div>
		<div class="cw_infon_2">
			<div class="cw_infon_2_name">资金账户</div>
			<div class="cw_infon_2_kyzj">
				<span class="f_left">总资金：</span>
				<span class="cw_infon_2_red f_left" id="remainMoney">0.00&nbsp;</span>
				<span class="f_left">可提现：</span>
				<span class="cw_infon_2_red f_left" id="ableCash">0.00&nbsp;</span>
				<input type=hidden id="ableCashValue">
				<span class="f_left">申请中(冻结)：</span>
				<span class="cw_infon_2_red f_left" id="applySum">0.00&nbsp;</span>
				<a v-if="hasPermission('withdraw:apply')" href="javascript:openAccount()" class="cw_zhuanchu">提现</a>
			</div>				
		</div>
	</div> -->
	
	<section class="content" style="padding:0;min-height:0">
	<div class="row">
        <div class="col-lg-3 col-xs-6" style="width:33%">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 id="remainMoney">0</h3>

              <p>元</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">总资金</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" style="width:33%">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3 id="ableCash">0</h3>

              <p>元</p>
            </div>
            <div class="icon" style="cursor: pointer;">
              <i v-if="hasPermission('withdraw:apply')" onclick="javascript:openAccount()" class="fa fa-jpy">提现</i>
            </div>
            <a href="#" class="small-box-footer">可提现</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" style="width:33%">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3 id="applySum">0</h3>

              <p>元</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">申请中（冻结）</a>
          </div>
        </div>
     
      </div>
      </section>
	
	<div v-show="showList">
		<!-- <div class="grid-btn">
			<a v-if="hasPermission('withdraw:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('withdraw:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('withdraw:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div> -->
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
   <!--  <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">申请用户id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="withdraw.applyUserId" placeholder="申请用户id"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">提现金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="withdraw.withdrawalamount" placeholder="提现金额"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">提现申请时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="withdraw.applyTime" placeholder="提现申请时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">提现状态</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="withdraw.withdrawStatus" placeholder="提现状态"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">操作时间（针对状态）</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="withdraw.operateTime" placeholder="操作时间（针对状态）"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">管理员id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="withdraw.userId" placeholder="管理员id"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div> -->
</div>

<script src="../../js/modules/yh/withdraw.js"></script>
</body>
</html>