<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../plugins/My97DatePicker/WdatePicker.js"></script>

</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="用户名">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<a v-if="hasPermission('sys:user:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('sys:user:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('sys:user:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			<a class="btn btn-primary" onclick="tanchu()"><i class="fa fa-trash-o"></i>&nbsp;弹弹弹</a>
		</div>
		<table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">用户名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.username" placeholder="登录账号"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">密码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.password" placeholder="密码"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">邮箱</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.email" placeholder="邮箱"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">手机号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.mobile" placeholder="手机号"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">角色</div>
			   	<div class="col-sm-10">
				   	<label v-for="role in roleList" class="checkbox-inline">
					  <input type="checkbox" :value="role.roleId" v-model="user.roleIdList">{{role.roleName}}
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">状态</div> 
				<label class="radio-inline">
				  <input type="radio" name="status" value="0" v-model="user.status"/> 禁用
				</label>
				<label class="radio-inline">
				  <input type="radio" name="status" value="1" v-model="user.status"/> 正常
				</label>
			</div>
			
			<div class="form-group">
			    <div class="col-sm-2 control-label">过期日期</div>
			   	<div class="col-sm-10">
			     <!--  <input type="text" class="form-control" v-model="user.expiryDate" placeholder="过期日期"/> -->
			       <input class="layui-input" id="expiryDate" placeholder="过期日期" v-model="user.expiryDate" onClick="WdatePicker()">
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">所属区域ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.areaId" placeholder="所属区域ID"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">所属区域</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.userArea" placeholder="所属区域"/>
			    </div>
			</div>
			<!-- <div class="form-group">
			   	<div class="col-sm-2 control-label">所属经销商</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.belongToAgency" placeholder="所属经销商"/>
			    </div>
			</div> -->
			<div class="form-group">
			   	<div class="col-sm-2 control-label">用户权限</div>
			   	<div class="col-sm-10" >
			   	  <select v-model="user.userPermission"  class="form-control">
			   	      <option value="1">管理员</option>
			   	      <option value="2">生产厂家</option>
			   	      <option value="3">区域经销商</option>
			   	      <option value="4">配送员</option>
			   	      <option value="5">发货员</option>
			   	      <option value="6">销售员</option>
			   	  </select>
			      <!-- <input type="text" class="form-control" v-model="user.userPermission" placeholder="用户权限"/> -->
			    </div>
			</div>
			<!-- <div class="form-group">
			   	<div class="col-sm-2 control-label">积分</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.userIntegral" placeholder="积分"/>
			    </div>
			</div> -->
			
			<input type="file" name="file" class="layui-upload-file"> 
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>		
	
<script src="../../js/modules/sys/user.js"></script>
<script>
function tanchu(){

	layer.open({
		 type: 2 //此处以iframe举例
	        ,title: '当你选择该窗体时，即会在最顶端'
	        ,area: ['390px', '260px']
	        ,shade: 0
	        ,maxmin: true
	        ,offset: [ //为了演示，随机坐标
	          Math.random()*($(window).height()-300)
	          ,Math.random()*($(window).width()-390)
	        ] 
	        ,content: 'http://127.0.0.1:8000/renren-fast/#modules/sys/user.html'
	        ,btn: ['继续弹出', '全部关闭'] //只是为了演示
	        ,yes: function(){
	          alert('继续');
	        }
	        ,btn2: function(){
	          layer.closeAll();
	        }
		}); 
}

</script>

</body>
</html>